<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tonychen.trainingapp">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_rocket"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".view.SplashActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:label="@string/MainActivity"/>

        <!-- 一级目录 start -->
        <activity
            android:name=".view.FloatWindowActivity"
            android:description="@string/FloatWindowActivity"
            android:label="悬浮窗">
            <intent-filter>
                <action android:name="com.tonychen.action.demo"/>

                <category android:name="com.tonychen.category.trunk"/>
            </intent-filter>

            <meta-data
                android:name="priority"
                android:value="1"/>
        </activity>
        <activity
            android:name=".view.CustomViewActivity"
            android:description="@string/CustomViewActivity"
            android:label="自定义View">
            <intent-filter>
                <action android:name="com.tonychen.action.demo"/>

                <category android:name="com.tonychen.category.trunk"/>
            </intent-filter>

            <meta-data
                android:name="priority"
                android:value="1"/>
        </activity>
        <activity
            android:name=".view.RxJavaActivity"
            android:description="@string/RxJavaActivity"
            android:label="RxJava">
            <intent-filter>
                <action android:name="com.tonychen.action.demo"/>

                <category android:name="com.tonychen.category.trunk"/>
            </intent-filter>

            <meta-data
                android:name="priority"
                android:value="2"/>
        </activity>
        <activity
            android:name=".view.KotlinActivity"
            android:description="@string/KotlinActivity"
            android:label="Kotlin">
            <intent-filter>
                <action android:name="com.tonychen.action.demo"/>

                <category android:name="com.tonychen.category.trunk"/>
            </intent-filter>

            <meta-data
                android:name="priority"
                android:value="2"/>
        </activity>
        <activity
            android:name=".view.JNIActivity"
            android:description="@string/JNIActivity"
            android:label="JNI">
            <intent-filter>
                <action android:name="com.tonychen.action.demo"/>

                <category android:name="com.tonychen.category.trunk"/>
            </intent-filter>

            <meta-data
                android:name="priority"
                android:value="3"/>
        </activity>
        <activity
            android:name=".view.OpenSourceLibActivity"
            android:description="@string/OpenSourceLibActivity"
            android:label="OpenSourceLib">
            <intent-filter>
                <action android:name="com.tonychen.action.demo"/>

                <category android:name="com.tonychen.category.trunk"/>
            </intent-filter>

            <meta-data
                android:name="priority"
                android:value="3"/>
        </activity>
        <activity
            android:name=".view.OfficialViewActivity"
            android:description="@string/OfficialViewActivity"
            android:label="官方控件">
            <intent-filter>
                <action android:name="com.tonychen.action.demo"/>

                <category android:name="com.tonychen.category.trunk"/>
            </intent-filter>

            <meta-data
                android:name="priority"
                android:value="3"/>
        </activity>
        <activity
            android:name=".view.AnimatorActivity"
            android:description="@string/AnimatorActivity"
            android:label="动画">
            <intent-filter>
                <action android:name="com.tonychen.action.demo"/>

                <category android:name="com.tonychen.category.trunk"/>
            </intent-filter>

            <meta-data
                android:name="priority"
                android:value="3"/>
        </activity>
        <activity
            android:name=".view.AndroidSystemActivity"
            android:description="@string/AndroidSystemActivity"
            android:label="Android系统机制/特性">
            <intent-filter>
                <action android:name="com.tonychen.action.demo"/>

                <category android:name="com.tonychen.category.trunk"/>
            </intent-filter>

            <meta-data
                android:name="priority"
                android:value="3"/>
        </activity>
        <activity
            android:name=".view.UtilsActivity"
            android:description="@string/UtilsActivity"
            android:label="自制小工具">
            <intent-filter>
                <action android:name="com.tonychen.action.demo"/>

                <category android:name="com.tonychen.category.trunk"/>
            </intent-filter>

            <meta-data
                android:name="priority"
                android:value="3"/>
        </activity>

        <!-- 一级目录 end -->


        <!-- 子项目 start -->

        <activity
            android:name=".view.itemact.CommonFloatWindowActivity"
            android:description="@string/CommonFloatWindowActivity"
            android:label="普通浮窗示例">
            <intent-filter>
                <action android:name="com.tonychen.action.demo"/>

                <category android:name="com.tonychen.category.branch"/>
                <category android:name="com.tonychen.category.floatwindow"/>
            </intent-filter>
        </activity>

        <!-- 子项目 end -->

        <service
            android:name=".services.FloatContralService"
            android:enabled="true"
            android:exported="false"/>

        <activity android:name=".view.UtilsActivity">
        </activity>
    </application>

</manifest>